@model TagCreateVm

<div class="form-wrapper">
    <h1 class="form-title">New Tag</h1>
    <form asp-action="Create">
        @await Component.InvokeAsync("SubjectSelector", new {subjectId = Model.SubjectId})
        @await Component.InvokeAsync("HierarchyFormGroups", Model)
        <div class="form-button-group">
            <input type="submit" value="Create" class="btn" />
            <a asp-action="Index" class="btn ghost">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}