@model TagDetailsVm
@{
    ViewData["Title"] = "Tag Details";
}

<header>
    <h1>@Model.CapitalizedName</h1>
</header>

@await Component.InvokeAsync("FloatingActionButton", new {actionName = "Edit", routeId = Model.Id})

