@model TagDetailsVm

<div class="page-header">
    <h1>@Model.CapitalizedName</h1>
    <a asp-action="Edit" asp-route-id="@Model.Id">(edit)</a>
</div>

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <div class="page-description">@Model.Description</div>
}