@model IEnumerable<TagMinimalVm>    
@{
    ViewData["Title"] = "Tags";
}
    
<header>
    <h1>Tags</h1>
</header>



<ul class="hierarchy-list">
    @foreach (var item in Model)
    {
        <li class="hierarchy-item">
            <a class="hierarchy-link" asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>

@await Component.InvokeAsync("FloatingActionButton", new {actionName = "Create"})
