@model IEnumerable<TagMinimalVm>    

<ul class="inline-list">
    <li class="special-item">
        <a asp-action="Create" class="special-link">Create New</a>
    </li>
    @foreach (var item in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a></li>
    }
</ul>