@model IEnumerable<CogLog.UI.Models.Topic.TopicVm>    
@{
    ViewData["Title"] = "Topics";
}
    
<header>
    <h1>Topics</h1>
</header>

<div>
    @foreach (var item in Model)
    {
        <p>
            @Html.DisplayFor(modelItem => item.Logo)
            @Html.DisplayFor(modelItem => item.Title)
        </p>
    }
</div>