.card-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
}

/* Card container */
.card {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    background-color: var(--surface-bg);
    border-radius: var(--border-radius);
    padding: var(--space-4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: normal;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    /* background-color: lightcyan; */
}

.card-header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-header-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-2);
    /* background-color: lightgoldenrodyellow; */
    font-size: var(--fs-xs);
    color: var(--surface-text-subtle);
}

.title-container {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    flex: 1;
}

.card-title {
    font-size: var(--fs-base);
    font-weight: 600;
    color: var(--surface-text);
}

.external-link {
    color: var(--surface-text-subtle);
    display: flex;
    align-items: center;
    transition: color 0.2s;
}

.card-date {
    /* font-size: var(--fs-xs);
    color: var(--surface-text-subtle); */
}

.card-subject {
    /* font-size: var(--fs-xs);
    color: var(--surface-text-subtle); */
}

.card-content {
    color: var(--surface-text-secondary);
    font-size: var(--fs-sm);
    /* background-color: lightpink; */
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);
}

.badge {
    background-color: var(--blue-100);
    color: var(--blue-800);
    padding: var(--space-1) var(--space-2);
    border-radius: var(--border-radius-max);
    font-size: var(--fs-xs);
    transition: background-color 0.2s;
}
