@model CreateBlockVm
@{
    ViewData["Title"] = "Create Block";
}
    
<div class="form-wrapper">
    <h1 class="form-title">New Block</h1>
    <form asp-controller="Blocks" asp-action="Create">
        @* <div asp-validation-summary="ModelOnly" class="validation-helper-text"></div> *@
        <div class="form-group">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="validation-helper-text"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="validation-helper-text"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExtraContent" class="form-label">Additional Context</label>
            <textarea asp-for="ExtraContent" class="form-control"></textarea>
            <span asp-validation-for="ExtraContent" class="validation-helper-text"></span>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="form-label"></label>
            <input asp-for="Url" class="form-control" type="url" />
            <span asp-validation-for="Url" class="validation-helper-text"></span>
        </div>

        @await Component.InvokeAsync("SubjectSelector", new {subjectId = Model.SubjectId})
        
        
        <div class="form-group" id="topics-form-group"  style="display: @(Model.SubjectId.HasValue ? "block" : "none");">
            <label asp-for="SelectedTopicIds" class="form-label">Topics</label>
            <select name="SelectedTopicIds" id="topics-select" class="form-control" multiple>

            </select>
        </div>

        <div class="form-group" id="tags-form-group"  style="display: @(Model.SubjectId.HasValue ? "block" : "none");">
            <label asp-for="SelectedTagIds" class="form-label">Tags</label>
            <select name="SelectedTagIds" id="tags-select" class="form-control" multiple>

            </select>
        </div>

        <div class="form-button-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
    
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            
            // Trigger change event if a category is already selected (e.g., on form validation failure)
            //if ($('#category-select').val()) {
              //  $('#category-select').trigger('change');
            //}
    
            // Handle subject selection change
            $('#subject-select').change(function() {
                var subjectId = $(this).val();
                if (subjectId) {
                    // Show topics and tags dropdown and empty
                
                    $('#topics-form-group').show();
                    $('#topics-select').empty()
                    $('#tags-form-group').show();
                    $('#tags-select').empty()
                    
                    // Load tags via AJAX
                    $.getJSON('@Url.Action("GetTopicsBySubject", "Topics")?subjectId=' + subjectId, function(topics) {

                        $.each(topics, function(index, topic) {
                            $('#topics-select').append($('<option></option>')
                                .attr('value', topic.value)
                                .text(topic.text));
                        });

                        
    
                        // Reselect any previously selected topics
    
                    });

                    $.getJSON('@Url.Action("GetTagsBySubject", "Tags")?subjectId=' + subjectId, function(tags) {
                        console.log("tags data", tags);
                        $.each(tags, function (index, tag) {
                            $('#tags-select').append($('<option></option>')
                                .attr('value', tag.value)
                                .text(tag.text));
                        });
                    });
                } else {
                    // Hide topic and tag dropdown if no subject is selected
                    $('#topics-form-group').hide();
                    $('#topics-select').empty()
                    $('#tags-form-group').hide();
                    $('#tags-select').empty()
                }
            });
        });
    </script>
}
