@model PaginationResponseVm<BlockVm>


<div class="card-list">
    @foreach (var block in Model.Data)
    {
        @await Html.PartialAsync("_BlockListItem", block)
    }
</div>

@await Component.InvokeAsync("Pagination", new
{
    pagination = Model.Pagination,
})

@await Component.InvokeAsync("FloatingActionButton", new {actionName = "Create"})
