@model IEnumerable<CogLog.UI.Models.Block.BlockVm>

@{
    ViewData["Title"] = "Cog Log";
}

<header>
    <h1>Adam's Cog Log</h1>
    <p>A collection of learnings, questions and thoughts.</p>
</header>