@using CogLog.App.Constants
@model PaginationResponseVm<BlockVm>


@if (!User.IsInRole(AuthConstants.Roles.Administrator))
{
    <div class="guest-header">
        <h1>The Cog Log</h1>
    </div>    
}

<div class="card-list">
    @foreach (var block in Model.Data)
    {
        @await Html.PartialAsync("_BlockListItem", block)
    }
</div>

@await Component.InvokeAsync("Pagination", new
{
    pagination = Model.Pagination,
})

@await Component.InvokeAsync("FloatingActionButton", new {actionName = "Create"})
