@using CogLog.App.Constants
@model PaginationResponseVm<BlockVm>


@if (!User.IsInRole(AuthConstants.Roles.Administrator))
{
    <div class="guest-header">
        <h1>The Cog Log</h1>
    </div>    
}

<div class="card-list">
    @foreach (var block in Model.Data)
    {
        @await Html.PartialAsync("_BlockListItem", block)
    }
</div>

@await Component.InvokeAsync("Pagination", new
{
    pagination = Model.Pagination,
})

@if (User.IsInRole(AuthConstants.Roles.Administrator))
{
    <button class="fab">
        <a asp-action="Create">
            <svg width="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.75 2.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
                    fill="var(--white)"/>
            </svg>
        </a>
    </button>

}