@model IEnumerable<CogLog.UI.Models.Block.BlockByDayVm>

@{
    ViewData["Title"] = "Play";
}

<header>
    <h1>Adam's Cog Log</h1>
    <p>A collection of learnings</p>
</header>


@foreach (var group in Model)
{
    <div class="block-group-container">
    
        <h2>@DateOnly.FromDateTime(@group.Day)</h2>


        <div class="card-list">
            @foreach (var block in @group.Blocks)
            {
                @await Html.PartialAsync("_BlockListItem", block)
            }
        </div>
    </div>
}
