@model CogLog.UI.Models.Shared.Hierarchy.CategorySelectorVm

<div class="form-group" id="category-form-group">
    <label asp-for="CategoryId" class="form-label">Category</label>
    <select id="category-select" name="CategoryId" class="form-control">
        <option value="">-- Select Category --</option>
        @foreach (var category in Model.CategorySelectItems)
        {
            <option value="@category.Value" selected="@(Model.CategoryId.ToString() == category.Value)">
                @category.Text
            </option>
        }
    </select>
</div>

