@model BrainBlockVm

@{
    ViewData["Title"] = "Edit Brain Block";
}

<h1> Edit Brain Block</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="Variant" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AdditionalContext" class="control-label">Additional Context</label>
                <textarea asp-for="AdditionalContext" class="form-control"></textarea>
                <span asp-validation-for="AdditionalContext" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" type="url" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>

            <div class="form-group pt-4">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </form>

        <form asp-action="Delete" class="pt-8">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}