@model WordEditVm;


<div class="form-wrapper">
    <h1 class="form-title">Edit Word</h1>
    <form asp-controller="Words" asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        @await Component.InvokeAsync("WordFormGroups", Model)
        

        <div class="form-button-group">
            <input type="submit" value="Update" class="btn"/>
            <a asp-action="Index" class="btn ghost">Cancel</a>
        </div>

    </form>

</div>

<form asp-action="Delete" class="delete-form">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn danger" />
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}