@using Vonavulary.App.Constants
@model WordPaginationVm




<div class="page-header">
    <h1 style="background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-5&color=c6b4fe);margin: -2px -6px;
        padding:  2px  6px;">Vonavulary</h1>
    @if (User.IsInRole(AuthConstants.Roles.Administrator))
    {
        <a asp-action="Create">Add</a>
    }
</div>



<div class="card-list">
    @foreach (var word in Model.Data)
    {
        @await Html.PartialAsync("_WordListItem", word)
    }
</div>

@await Component.InvokeAsync("Pagination", new
{
    pagination = Model.Pagination,
})