@model CogLog.UI.Models.Auth.LoginVm

@{
    ViewData["Title"] = "Login";
}

<header>
    <h1>Log-in</h1>
</header>

<form asp-action="Login" class="form-container">
    <div asp-validation-summary="ModelOnly" class="validation-text"></div>
    <div class="input-group">
        <label asp-for="Email" class="input-label"></label>
        <input asp-for="Email" type="email" class="input" />
        <span asp-validation-for="Email" class="validation-text"></span>
    </div><div class="input-group">
        <label asp-for="Password" class="input-label"></label>
        <input asp-for="Password" type="password" class="input" />
        <span asp-validation-for="Password" class="validation-text"></span>
    </div>
    <div class="btn-group">
        <input type="submit" value="Login" class="btn btn-success" />
    </div>
    
</form>


    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
