@model TagCreateVm

@{
    ViewData["Title"] = "New Tag";
}

<div class="form-container">
    <h1 class="form-title">New Tag</h1>
    
    <form asp-action="CreateTag">
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" type="text" id="name" class="form-control" required>
            <span asp-validation-for="Name" class="validation-helper-text"></span>
        </div>
        
        <div class="form-group" style="display: none;">
            <label asp-for="Icon" class="form-label"></label>
            <input asp-for="Icon" type="text" id="icon" class="form-control">
            <span asp-validation-for="Icon" class="validation-helper-text"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" id="description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="validation-helper-text"></span>
        </div>

        <input type="hidden" asp-for="SubjectId" value="@Url.ActionContext.RouteData.Values["id"]" />

        <button type="submit" class="bttn" >Create</button>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}