@model SubjectCreateVm
@{
    ViewData["Title"] = "New Subject";
}

<div class="form-wrapper">
    <h1 class="form-title">New Subject</h1>

    <form asp-action="Create">
        
        @await Component.InvokeAsync("HierarchyFormGroups", Model)
        
        @await Component.InvokeAsync("CategorySelector", new {categoryId = Model.CategoryId})

        
        <div class="form-button-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}