@model SubjectPaginationVm

@await Component.InvokeAsync("Pagination", new
{
    pagination = Model.Pagination,
    routeValues = new Dictionary<string, object>
    {
        { "category", Context.Request.Query["Category"] },
        { "name", Context.Request.Query["Name"] },
    }
})

<ul class="inline-list">
    <li class="special-item">
        <a asp-action="Create" class="special-link">Create New</a>
    </li>
    @foreach (var item in Model.Data)
    {
        <li>
            <a asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a></li>
    }
</ul>

