.card-list {
    display: flex;
    flex-direction: column;
    gap: var(--bg-space-1);
    padding: var(--bg-space-2) 0;
}

.card {
    display: flex;
    flex-direction: column;
    /*gap: var(--bg-space-1);*/
}

.card-header {
    display: flex;
    flex-direction: column;
}

.card-header-top {
    display: flex;
    flex-direction: row;
    height: var(--bg-space-1);
    gap: var(--space-3);
    align-items: center;
}

.card-title {
    font-size: var(--fs-base);
    font-weight: 600;
    color: var(--surface-text);
}

.card-info-container {
    font-size: var(--fs-xs);
    color: var(--surface-text-subtle);
    gap: var(--space-3);
    display: flex;
    align-items: center;
}



.card-content {
    font-size: var(--fs-sm);
    text-wrap: wrap;
    color: var(--surface-text-secondary);
    line-height: var(--bg-space-1);
}
