@model BlockBaseWriteVm

<div class="form-group">
    <label asp-for="LearnedAt" class="form-label">Date Learned</label>
    <input asp-for="LearnedAt" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
</div>

<div class="form-group">
    <label asp-for="Title" class="form-label"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="validation-helper-text"></span>
</div>
<div class="form-group">
    <label asp-for="Content" class="form-label"></label>
    <textarea asp-for="Content" class="form-control"></textarea>
    <span asp-validation-for="Content" class="validation-helper-text"></span>
</div>
<div class="form-group" style="display: none;">
    <label asp-for="ExtraContent" class="form-label">Additional Context</label>
    <textarea asp-for="ExtraContent" class="form-control"></textarea>
    <span asp-validation-for="ExtraContent" class="validation-helper-text"></span>
</div>
<div class="form-group">
    <label asp-for="Url" class="form-label">URL</label>
    <input asp-for="Url" class="form-control" type="url" />
    <span asp-validation-for="Url" class="validation-helper-text"></span>
</div>