@using CogLog.App.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CogLog.UI.Models.Shared.Components.FloatingActionButtonVm

@if (User.IsInRole(AuthConstants.Roles.Administrator))
{
    @if (Model.RouteId.HasValue)
    {
        <button class="fab">
            <a asp-action="@Model.ActionName" asp-route-id="@Model.RouteId">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="var(--purple-50)" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                </svg>
            </a>
        </button>
    }
    else
    {
        <button class="fab">
            <a asp-action="@Model.ActionName">
                <svg width="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M8.75 2.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
                        fill="var(--purple-50)"/>
                </svg>
            </a>
        </button>
    }
}


