@model Vonavulary.UI.Models.Auth.LoginVm

@{
    ViewData["Title"] = "Login";
}

<div class="form-wrapper">
<h1 class="form-title">Log In</h1>
<form asp-action="Login">
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="validation-helper-text"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="validation-helper-text"></span>
    </div>
    <div class="form-button-group">
        <input type="submit" value="Log In" class="btn" />
    </div>
</form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
