@model CogLog.UI.Models.Category.CategoryWithSubjectsVm;
@{
    ViewData["Title"] = "Category with Subjects";
}
    
<header>
    <h1>Category With Subjects</h1>
</header>

<div>
    @foreach (var item in Model.Subjects)
    {
        <p>
            @Html.DisplayFor(modelItem => item.Icon)
            @Html.DisplayFor(modelItem => item.Name)
        </p>
    }
</div>