@model CogLog.UI.Models.Subject.CreateSubjectVm
@{
    ViewData["Title"] = "Create Subject";
}
    
<header>
    <h1>Create Subject</h1>
</header>

<form asp-action="CreateSubject" class="form-container">
    <div class="input-group">
        <label asp-for="Name" class="input-label"></label>
        <input asp-for="Name" class="input" />
        <span asp-validation-for="Name" class="validation-text"></span>
    </div>
    <div class="input-group">
        <label asp-for="Icon" class="input-label"></label>
        <textarea asp-for="Icon" class="input"></textarea>
        <span asp-validation-for="Icon" class="validation-text"></span>
    </div>
    <div class="input-group">
        <label asp-for="Description" class="input-label"></label>
        <textarea asp-for="Description" class="input"></textarea>
        <span asp-validation-for="Description" class="validation-text"></span>
    </div>
    <input type="hidden" asp-for="CategoryId" value="@Url.ActionContext.RouteData.Values["id"]" />
        
    <div class="btn-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>
