@model CategoryEditVm

<header>
    <h1>Edit Category</h1>
</header>

<form asp-action="Edit" class="form-wrapper">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="input-group">
        <label asp-for="Name" class="input-label"></label>
        <input asp-for="Name" class="input" />
        <span asp-validation-for="Name" class="validation-text"></span>
    </div>
    <div class="input-group">
        <label asp-for="Icon" class="input-label"></label>
        <input asp-for="Icon" class="input"></input>
        <span asp-validation-for="Icon" class="validation-text"></span>
    </div>
    <div class="input-group">
        <label asp-for="Description" class="input-label"></label>
        <textarea asp-for="Description" class="input"></textarea>
        <span asp-validation-for="Description" class="validation-text"></span>
    </div>
        
    <div class="btn-group">
        <input type="submit" value="Save" class="btn btn-success" />
       
        <a asp-action="Index">Back</a>
    </div>
</form>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}