@model IEnumerable<CogLog.UI.Models.Category.BaseCategoryVm>    
@{
    ViewData["Title"] = "Categories";
}
    
<header>
    <h1>Categories</h1>
</header>

<div>
    @foreach (var item in Model)
    {
        <p>
            @Html.DisplayFor(modelItem => item.Icon)
            @Html.DisplayFor(modelItem => item.Name)
        </p>
    }
</div>