@model TopicCreateVm;
@{
    ViewData["Title"] = "Create Topic";
}

<div class="form-wrapper">
    <h1 class="form-title">New Topic</h1>

    <form asp-action="Create">

        @await Component.InvokeAsync("HierarchyFormGroups", Model)

        @await Component.InvokeAsync("SubjectSelector", new {subjectId = Model.SubjectId})


        <div class="form-button-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

