@model IEnumerable<TopicMinimalVm>    
@{
    ViewData["Title"] = "Topics";
}
    
<header>
    <h1>Topics</h1>
<a asp-action="Create">Create</a>
</header>



<ul class="hierarchy-list">
    @foreach (var item in Model)
    {
        <li class="hierarchy-item">
            <a class="hierarchy-link" asp-action="Details" asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>